.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 1500;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform 0.2s cubic-bezier(1, 1, 0.81, 1.56);

        @include respond(tab-port) {
            top: 3.25rem;
            right: 3.25rem;
        }
    }

    // cubic-bezier(0.83, 0, 0.17, 1) cubic-bezier(0, 0, .81, 1.68)
    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1250;

        opacity: 0;
        width: 0;
        transition: all 0.8s;
    }

    &__list {
        @include centerItem;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 3000;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all 0.4s;

            span {
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(55);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &:before,
        &:after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }

        &:before {
            top: -0.8rem;
            // transform-origin: left;    --  will rotate from the left of the item
        }

        &:after {
            top: 0.8rem;
        }
    }

    &__button:hover &__icon:before {
        top: -1rem;
    }

    &__button:hover &__icon:after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon:before {
        top: 0;
        transform: rotateZ(135deg);
    }

    &__checkbox:checked + &__button &__icon:after {
        top: 0;
        transform: rotateZ(-135deg);
    }
}
