@import "../abstracts/variables";

.btn {

  &:link, /* about link button */
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; /* make the animation more slower (button) */
    position: relative;
    font-size: $default-font-size;
  }

  &:hover /* when you pass the mouse */
  {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2); /* 0 = X, 10 = Y, 20 = blur */

    &::after {
      transform: scaleX(1.2) scaleY(1.6);
      opacity: 0;
    }

  }

  &:active /*  when you click */
  {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2); /* 0 = X, 5 = Y, 20 = blur */
  }


  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s; /* fourth arg: delay before starting */
    animation-fill-mode: backwards; /* will display the button when the animation start*/
  }

}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15); /*0 = X | 1 = Y | 2 = blur  rgba(color, percentage*/
    transform: translateX(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 2rem rgba($color-black, .15); /*0 = X | 1 = Y | 2 = blur  rgba(color, percentage*/
    transform: translateX(0px);
  }
}
